.wrapper {

    max-width: 1110px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    //padding-left: 15px;
    //padding-right: 15px;
}

.grid {
    display: grid;
    grid-template-areas: "navb"
                        "content"
                        "footer";
    //grid-template-columns: minmax(200px, 1110px);
    //grid-template-columns: ;
    grid-template-rows: 100px, 1fr, 50px;
}

.NavBar {
    grid-area: navb;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: rgb(116, 39, 218);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    .NavbarItems {
        grid-column: 1/2;  
    }
    .NavBarButtons {
        grid-column: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 50px;
            background: #70ceb6;
            color: #fff;
            text-decoration: none;
            border-radius: 15px;
            margin-right: 7px;
            cursor: pointer;
        }
    }

    ul {
        list-style-type: none;
        overflow: hidden;
    }
    
    li {
        float: left;
        a {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
    }
    li:hover {
            padding: 10px 12px;
            border-radius: 20px;
            background-color: rgb(2, 2, 68);
    }
    .activeItems {
        padding: 10px 12px;
        border-radius: 20px;
        background-color: rgb(2, 2, 68);
    } 
}

.grid-content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}