.wrapper {
    //display: flex;
    max-width: 1110px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    //padding-left: 15px;
    //padding-right: 15px;
}

.grid {
    display: grid;
    grid-template-areas: "navb"
                        "content"
                        "footer";
    //grid-template-columns: minmax(200px, 1110px);
    //grid-template-columns: ;
    grid-template-rows: 100px, 1fr, 50px;
}

.NavBar {

    grid-area: navb;
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: rgb(116, 39, 218);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    .NavbarItems {
        grid-column: 1/2;
    }
    .NavBarButtons {
        grid-column: 2/3;
        margin-top: 16px;
        text-align: right;
        button {
            width: 100px;
            height: 40px;
            margin-right: 10px;
            border-radius: 15px;
            
        }
    }
    ul {
        list-style-type: none;
        //margin: 0;
        //padding: 0;
        overflow: hidden;
        
    }
    
    li {
        float: left;
    }
        
    li a {
        //display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    /* Change the link color to #111 (black) on hover */
    // li a:hover:not(.active) {
    //     background-color: rgb(173, 24, 24);
    // }
    // .active {
    //     background-color: #4CAF50;
    // }
}


.grid-content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}