.wrapper {
    //display: flex;
    max-width: 1110px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    //padding-left: 15px;
    //padding-right: 15px;
}

.grid {
    display: grid;
    grid-template-areas: "navb"
                        "content"
                        "footer";
    //grid-template-columns: minmax(200px, 1110px);
    //grid-template-columns: ;
    grid-template-rows: 100px, 1fr, 50px;
}

.NavbarItems {
    
    grid-area: navb;

    ul {
        list-style-type: none;
        //margin: 0;
        //padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a {
        //display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    // li a:hover:not(.active) {
    //     background-color: rgb(173, 24, 24);
    // }
    // .active {
    //     background-color: #4CAF50;
    // }
}

.grid-content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}